body{
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
}

nav{
  display:flex;
  justify-content:space-between;
  padding:20px 40px;
  background:#111827;
}

ul{
  display:flex;
  gap:20px;
  list-style:none;
}

section{
  padding:60px 40px;
  text-align:center;
}

button{
  padding:12px 20px;
  border:none;
  background:#3b82f6;
  color:white;
  border-radius:8px;
}

footer{
  padding:30px;
  text-align:center;
  background:#111827;
}